/* Score */
.score {
  margin: 0;
  display: flex;
  align-items: center;
}

.score__title {
  margin: 0 10px 0 0;

  font-family: 'TitanOne-Regular', sans-serif;
  color: #1f1539;
  font-size: 50px;
  font-weight: normal;
}

.score__value {
  margin: 0;

  font-family: 'Indie Flower', sans-serif;
  color: #16D9E3;
  font-size: 70px;
}


/* Search for tablet */
@media screen and (max-width: 960px) {
  .score__title {
    font-size: 40px;
  }

  .score__value {
    font-size: 60px;
  }
}

/* Search for phone */
@media screen and (max-width: 680px) {
  .score__title {
    font-size: 30px;
  }

  .score__value {
    font-size: 50px;
  }
}
