/* App */
.app {
  margin: 0 auto;
  max-width: 2560px;
  min-width: 320px;
  width: 100%;
  height: 100%;

  font-family: 'LuckiestGuy', 'Indie Flower', 'Khula', sans-serif;
  color: #000;
  text-align: center;

  overflow: hidden;
  box-sizing: border-box;
}

.app__page {
  display: flex;
  width: 100%;
  height: 100%;
}