/* Game-options */
.game-options {
  margin: auto;
}

.game-options__box-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-options__time-btn {
  width: 160px;
  height: 70px;

  background-color: transparent;
  border: 2px solid #1f1539;
  border-radius: 10px;
  color: #1f1539;
  cursor: pointer;
  font-family: 'Indie Flower', sans-serif;
  font-size: 50px;

  transition: all 180ms linear 30ms;
}

.game-options__time-btn:hover {
  border-color: #16D9E3;
  color: #16D9E3;
}
