/* Game-options */
.game-options {
  margin: auto;
  max-width: 1000px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.game-options__box {
  margin: 50px 0 0;
  max-width: 732px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-options__time {
  margin: 0;
  padding: 0;
  width: 20%;
  max-height: 70px;

  display: flex;

  background-color: transparent;
  border: 2px solid #1f1539;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;

  transition: all 180ms linear 30ms;
}

.game-options__time:hover {
  border-color: #16D9E3;
  color: #16D9E3;
}

.game-options__text {
  margin: auto;
  width: 100%;

  font-family: 'Indie Flower', sans-serif;
  font-size: 50px;
  color: #1f1539;

  transition: all 180ms linear 30ms;
}

.game-options__text:hover {
  color: #16D9E3;
}


/* Search for tablet */
@media screen and (max-width: 960px) {
  .game-options__text {
    font-size: 45px;
  }
}

@media screen and (max-width: 768px) {
  .game-options__text {
    font-size: 40px;
  }
}

/* Search for phone */
@media screen and (max-width: 580px) {
  .game-options__text {
    font-size: 30px;
  }
}

@media screen and (max-width: 430px) {
  .game-options__text {
    font-size: 25px;
  }
}


@media screen and (max-width: 380px) {
  .game-options__text {
    font-size: 20px;
  }
}
