.start__title {
  font-family: 'LuckiestGuy', sans-serif;
  color: #fff;
  font-size: 150px;
  line-height: 1.4;
  letter-spacing: 10px;
}

.start__link {
  font-family: 'Indie Flower', sans-serif;
  color: #000;
  font-size: 60px;
  text-decoration: none;
}

.start__link:hover {
  color: #16D9E3;
}