/* Start */
.start {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.start__title {
  margin: 0 0 100px;

  font-family: 'LuckiestGuy', sans-serif;
  color: #fff;
  font-size: 200px;
  letter-spacing: 10px;
}