/* Subtitle */
.subtitle {
  margin: 0 0 80px;
  min-width: 720px;

  font-family: 'TitanOne-Regular', sans-serif;
  color: #fff;
  font-size: 80px;
  font-weight: normal;

  display: flex;
  align-items: center;
  justify-content: center;
}