/* Circle */
.circle {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  transition: width .3s linear 300ms, height .3s linear 300ms;
}

.circle:hover {
  /*width: 200px;*/
  /*height: 200px;*/
}